<!DOCTYPE html>
<html>
<head>
<title>Offerte</title>
<style type="text/css">
body {
	background-image: url("css/sfondo.jpg");
	height: 100vh;
}
</style>

<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="js/bootstrap.bundle.min.js"></script>
<script src="jquery-3.6.0.js"></script>

<script>
	$(document).ready(function() {
		lista();
	});
	function lista() {
		$("body").empty();
		$
				.get(
						"http://localhost:8082/offerte",
						function(data, status) {
							var cnt = data.length;
							var tr = "";
							$("#tbody").empty();

							var table = "<div class='row bg-dark'>"
									+ "<div class='col-2'text-center'><br /><a href='/menu'><button class='btn btn-secondary btn-sm'><i class='fa fa-arrow-left'></i> menu</button></a></div>"
									+ "<div class='col-2'></div>"
									+ "<div class='col-4 text-center h2 text-warning'>"
									+ "<br />Lista Offerte"
									+ "</div>"
									+ "<div class='col-2'></div>"
									+ "<div class='col-2 text-center'><br /><button class='btn btn-success btn-sm' onclick='inserisci()'><i class='fa fa-plus'></i> inserimento</button></div>"
									+ "</div> <div>"
									+ "<table class='table table-responsive  table-dark table-bordered'>"
									+ "<thead class='table-primary'>" + "<tr>"
									+ "<th>ID</th>" + "<th>descrizione</th>"
									+ "<th>prezzo</th>" + "<th>data attivazione</th>"
									+ "<th>idCliente</th>" + "<th><div class='col-2'text-center'><a href='http://localhost:8082/download/Offerte.xlsx'><button class='btn btn-success btn-sm'> Offerte.xlsx</button></a></div></th>"
									+ "<th><div class='col-2'text-center'><a href='http://localhost:8082/download/Offerte.pdf'><button class='btn btn-warning btn-sm'> Offerte.pdf</button></a></div></th>" + "</tr>" + "</thead>"
									+ "<tbody id='tbody'>" + "</tbody>"
									+ "</table>" + "</div>";

							$("body").append(table);

							for (let i = 0; i < cnt; i++) {

								var idOfferta = data[i].idOfferta;
								var descrizione = data[i].descrizione;
								var prezzo = data[i].prezzo;
								var dataAttivazione = data[i].dataAttivazione;
								var idCliente = data[i].idCliente;

								tr = tr
										+ "<tr><td>"
										+ idOfferta
										+ "</td><td>"
										+ descrizione
										+ "</td><td>"
										+ prezzo
										+ "</td><td>"
										+ dataAttivazione
										+ "</td><td>"
										+ idCliente
										+ "</td><td><button class='btn btn-primary' onclick='modifica("
										+ JSON.stringify(data[i])
										+ ")'><i class='fa fa-edit'></i> modifica</button> </td>"
										+ "</td><td><button class='btn btn-danger' onclick='elimina("
										+ JSON.stringify(data[i])
										+ ")'><i class='fa fa-trash'></i> elimina</button> </td></tr>";
							}
							$("#tbody").append(tr);
						});
	}

	function modifica(offerte) {
		$("body").empty();

		var form = "<div class='text-center h2 text-warning my-5 bg-dark'>Modifica Cliente: "
				+ offerte.idOfferta
				+ "<br /><br /></div>"
				+ "<div>"
				+ "<table class='table table-dark table-sm text-center'>"
				+ "<tr><th>descrizione</th><td>"
				+ "<input type='text' id='descrizione' name='descrizione' value='" + offerte.descrizione + "'>"
				+ "</td></tr>"
				+ "<tr><th>prezzo</th><td>"
				+ "<input type='text' id='prezzo' name='prezzo' value='" + offerte.prezzo + "'>"
				+ "</td></tr>"
				+ "<tr><th>Data Attivazione</th><td>"
				+ "<input type='date' id='dataAttivazione' name='dataAttivazione' value='" + offerte.dataAttivazione + "'>"
				+ "</td></tr>"
				+ "<tr><th>ID cliente</th><td>"
				+ "<input type='text' id='idCliente' name='idCliente' value='" + offerte.idCliente + "'>"
				+ "</td></tr>"
				+ "</table>"
				+ "</div> <div class='text-center'>"
				+ "<button class='btn btn-primary' onclick='submitModificaOfferte("
				+ offerte.idCliente
				+ ")'><i class='fa fa-edit'></i> conferma</button> &nbsp;"
				+ "<button class='btn btn-secondary' onclick='lista()'><i class='fa fa-close'></i> annulla</button>"
				+ "<br /><br /></div>";

		$("body").append(form);

	}

	function submitModificaOfferte(idOfferta) {

		var dataSubmit = "{" + "\"descrizione\":" + "\"" + $("#descrizione").val() + "\","
				+ "\"prezzo\":" + "\"" + $("#prezzo").val() + "\","
				+ "\"dataAttivazione\":" + "\"" + $("#dataAttivazione").val() + "\","
				+ "\"idCliente\":" + "\"" + $("#idCliente").val() + "\"" + "}";

		$.ajax({
			type : "PUT",
			url : "http://localhost:8082/offerte/" + idOfferta,
			contentType : "application/json",
			data : dataSubmit,
			success : function(data) {
				lista();
			}
		});
	}

	function elimina(offerte) {

		$.ajax({
			type : "DELETE",
			url : "http://localhost:8082/offerte/" + offerte.idOfferta,
			contentType : "application/json",
			success : function(data) {
				// alert(data);
				lista();
			}
		});
	}

	function inserisci() {
		$("body").empty();

		var form = "<div class='text-center h2 text-warning my-5 bg-dark'>Inserisci Offerta: "
				+ "<br /><br /></div>"
				+ "<div>"
				+ "<table class='table table-dark table-sm text-center'>"
				+ "<tr><th>descrizione</th><td>"
				+ "<input type='text' id='descrizione' name='descrizione' value=''>" 
				+ "</td></tr>"
				+ "<tr><th>prezzo</th><td>"
				+ "<input type='text' id='prezzo' name='prezzo' value=''>"
				+ "</td></tr>"
				+ "<tr><th>data attivazione</th><td>"
				+ "<input type='date' id='dataAttivazione' name='dataAttivazione' value=''>" 
				+ "</td></tr>"
				+ "<tr><th>ID Cliente</th><td>"
				+ "<input type='idCliente' id='idCliente' name='idCliente' value=''>" 
				+ "</td></tr>"
				+ "</table>"
				+ "</div> <div class='text-center'>"
				+ "<button class='btn btn-primary' onclick='submitInserisciOfferte("
				+ ")'><i class='fa fa-edit'></i> conferma</button> &nbsp;"
				+ "<button class='btn btn-secondary' onclick='lista()'><i class='fa fa-close'></i> annulla</button>"
				+ "<br /><br /></div>";

		$("body").append(form);

	}
	
	function submitInserisciOfferte() {

		var dataSubmit = "{" + "\"descrizione\":" + "\"" + $("#descrizione").val() + "\","
				+ "\"prezzo\":" + "\"" + $("#prezzo").val() + "\","
				+ "\"dataAttivazione\":" + "\"" + $("#dataAttivazione").val() + "\","
				+ "\"idCliente\":" + "\"" + $("#idCliente").val() + "\"" + "}";


		$.ajax({
			type : "POST",
			url : "http://localhost:8082/offerte/",
			contentType : "application/json",
			data : dataSubmit,
			success : function(data) {
				// alert(data);
				lista();
			}
		});
	}
	

</script>
</head>
<body>

</body>
</html>